---
import Layout from '../layouts/Layout.astro';
import { marked } from 'marked';
import { loadDocDocument } from '../lib/doc-meta';

const { meta, body } = await loadDocDocument();

marked.setOptions({ gfm: true });

const htmlContent = marked.parse(body) as string;
---

<Layout meta={meta}>
	<div class="doc">
		<article set:html={htmlContent} />
	</div>
</Layout>
